header {
    background-color: black;
    height: 100px;
}
h1 {
    text-align: center;
    color: white;
    padding: 26px;
}

h2 {
    text-align: center;
}

.card-header {
    padding-bottom: 200px;
}

